# Express listen on this port
# eg 3003
PORT = 

# Geo Locating
# eg true
USE_GEO_LOCATING = true

# ipify key
# eg at_fdkfj_something
IPIFY_API_KEY = 

# set false for getting country only from phone number
# this variable is used only if USE_GEO_LOCATING is set to true
ALWAYS_GET_COUNTRY_FROM_IP = false

# Reports folder and file name
REPORTS_FILE_DIRECTORY = ./witness
REPORTS_FILE_NAME = reports.csv

# Request rate limiter
# eg 10
LIMITER_POINTS = 

# eg 1
LIMITER_DURATION_IN_SECONDS = 

# eg 2000
TICK_IN_MILLIS = 
